<!DOCTYPE html>
<html ng-app="sampleApp">
<head>
	<title>Sample Project</title>
	<meta name="name" content="content" >
  <link rel="stylesheet" href="lib/bootstrap.min.css"/>
  <link rel="stylesheet"  href="lib/bootstrap-theme.css"/>
	
	<script src="lib/jquery-2.1.4.min.js"></script>
	<script src="lib/angular.min.js" ></script>
  <script src="lib/bootstrap.min.js" ></script>
  <link rel="stylesheet" href="app.css">
  <style type="text/css" media="screen">
   .todoComplete{
      background-color: red;
       }  
  </style>
</head>
<body>
<div class="container">
  <div class="row" ng-controller="TodoCtrl">
    <form>
      <div class="form-group">
        <label>Todo:</label>
        <input class="form-control" ng-model="todoTxt"/>
        <button class="btn btn-primary" ng-click="addTodo()"> Add </button>
      </div>
    </form>

    <ul class="list-group">
      <li ng-repeat="list in todoList" >
      <div> <input type="checkbox" ng-model="list.isChecked"/>
      <span ng-class="{todoComplete: list.isChecked}">{{list.todoTxt}}</span>
      <span class="glyphicon glyphicon-remove" ng-click="removeTodo($index)"></span></div>
      </li>
    </ul>
  </div>
</div>
<!-- {{name}}
<div ng-controller="MyCtrl">
<input ng-model="name"/>
<input type="number" ng-model="num"/>
<input ng-model="firstname" ng-change="fullnameFunc()"/>
<input ng-model="lastname" ng-change="fullnameFunc()"/>

<select ng-model="dropValue" ng-change="updateFullName()">
  <option value="1">First</option>
  <option value="2">Second</option>
  <option value="3">Third</option>
  <option value="4">Forth</option>

</select>
  <h3>My Name is: {{fullname}}</h3>
  <h2>{{name}}</h2>
   
  </div>
  <div ng-controller="SecondCtrl">
  	<h3>Second</h3>
  	{{second}} <br>
  	{{name}}
  </div>
 <ul>
 	<li ng-repeat="num in studentData">  {{num + 10 }}</li>
 </ul> -->
   <script src="app.js"></script>
 <script src="AngularToDo/todo.js"></script>
</body>
</html>