<div class="row">
    <h1>Sprocket Exchange</h1>
    <h3><strong>Your Holdings</strong></h3>
    <div>
        <p>Available Cash: ${{sprocket.sprocketInfo.availableCash}}</p>
        <p>Sprockets: {{sprocket.sprocketInfo.sprockets}}</p>
    </div>
    <div>
        <h3><strong>Place Order</strong></h3>
        <span>Current Price: ${{sprocket.sprocketInfo.currentPrice}}(as of {{sprocket.sprocketInfo.currentTime}} pm)</span>
        <!--        <div class="row" style="width: 250px;">
                    <div class="col-md-6"><strong>Action </strong></div>
                    <div class="col-md-6"> <select class="form-control" id="action">
                                <option value="">Select your option..</option>
                                <option value="Buy">Buy</option>
                                <option value="Sell">Sell</option>
                            </select></div>
                </div>-->
        <form class="form-horizontal" style="width: 354px;">
            <div class="form-group">
                <label for="action" class="col-sm-2 control-label">Action</label>
                <div class="col-sm-10">
                    <select class="form-control" id="action">
                        <option value="">Select your option..</option>
                        <option value="Buy">Buy</option>
                        <option value="Sell">Sell</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="amount" class="col-sm-2 control-label">Amount</label>
                <div class="col-sm-10">
                    <input  class="form-control" id="amount" placeholder="Amount" ng-model="amount">
                </div>
            </div>
            <div class="form-group">
                <label for="total" class="col-sm-2 control-label">Total</label>
                <div class="col-sm-10">
                    <span class="form-control">{{+amount * 12}}</span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
    </div>
    <div style="width: 570px;">
    <h3><strong>History</strong></h3>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Date</th>
                <th>Action</th>
                <th>Unit Price</th>
                <th>Count</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="sprt in sprocket.sprocketInfo.transactionHistory">
                <td>{{sprt.date}}</td>
                <td>{{sprt.action|uppercase}}</td>
                <td>{{sprt.unitPrice}}</td>
                <td>{{sprt.count}}</td>
                <td>{{sprt.unitPrice * sprt.count}}</td>
            </tr>
        </tbody>
    </table>
    </div>
</div>
